*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: darkgreen;
}

button:hover{
    background-color: rgb(36, 109, 36);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:darkgreen }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: darkgreen;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: darkgreen;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("hero image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-elcampo .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-productos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-productos .container{
    padding: 150px 12px;
}

#nuestros-productos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-productos p{
    display: none;
}

#nuestros-productos .carta{
    background-position: center center;
    background-size: cover;
    padding: 40px 30px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("#");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/python.jpg");

}

#nuestro-trabajo{
    background-color:white:
    color: white;
    text-align: center;
}

#nuestro-trabajo .container{
    padding: 150px 12px;
}

#nuestro-trabajo h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestro-trabajos p{
    display: none;
}

#nuestro-trabajo .carta{
    background-position: center center;
    background-size: cover;
    padding: 40px 30px;
    margin: 30px;
    border-radius: 15px;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color:white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-elcampo .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-elcampo .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-elcampo h2{
        margin-top: 0px;
    }

    #somos-elcampo .img-container{
        background-image: url("chalet.jpg");
        background-size: cover;
        background-position: center center;
        height:800px;
        width: 700px; 
    }

    #nuestros-productos .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-productos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-productos h2{
        font-size: 4em;
    }

    #nuestros-productos h3{
        margin-top: 0;
    }

    #nuestros-productos .carta{
        padding: 50px;
        background-size: 100% 300px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color:black;
        box-shadow: black;
    }

    .carta:first-child(1){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("#");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("#");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/python-cropped.jpg");

    }
  
   
}
.figure{
position: relative;
height: 250px;
width: 300px;
overflow: hidden;
border-radius: 6px;
box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
cursor: pointer;
}
.container  img{
    width: 100%;
    height: 10%;
    transition: all 500ms ease-out;
    position: relative;
    left: 0px;


}
 #nuestro-trabajo .carta{
        padding: 50px;
        background-size: 100% 300px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color:black;
        box-shadow: black;
        color: black;
}

#nuestro-trabajo .carta:first-child{
    margin: 0 auto;
    background: var(--card-color);
    color:black;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px; 
    position: relative;
    left: 200px;
}
#nuestro-trabajo .carta:nth-child(2){
    margin: 0 auto;
    background: var(--card-color);
    color:black;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px; 
    position: relative;
    right: 200px;
    
}

        


    #final h2{
        font-size: 3em;
        
    }

    #final button{
        font-size: 5
        em;
    }

    footer .container{
        justify-content: flex-end;
    }

